<div class="wrap">
    <div class='container'>
        <div class='row'>
            <div class="col-xs-12 col-lg-9">
                <div class="box">
                    <ol class="breadcrumb">
                        <li><a href="/">首页</a></li>
                        <li class="active">通知</li>
                    </ol>
                    <div class='inner'>
                        <div class="alert alert-danger">
                            <strong>GitHub 登陆出错</strong>
                            <ul>
                                <li>您 GitHub 账号的 Email 与之前注册的 Email 重复了。</li>
                                <li>
                                    <p>也可能是您的 GitHub 没有提供公开的 Profile Email 导致注册失败。</p>
                                </li>
                            </ul>
                            <p>请访问：https://github.com/settings/profile 设置您的公开 Email 地址。请确保您 GitHub 的个人主页有可见的 Email。</p>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-xs-12 col-lg-3">
                <div class="box widget-side">
                    <%- partial('sidebar') %>
                </div>
            </aside>
        </div>
    </div>
</div>
