<div class="wrap">
  <div class='container'>
    <div class='row'>
      <div class="col-xs-12 col-lg-9 pr-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <ol class="breadcrumb">
              <li><a href="/">首页</a></li>
              <li class="active">密码重置</li>
            </ol>
          </div>
          <div class='panel-body'>
            <% if(typeof(error) !== 'undefined' && error){ %>
            <div class="alert alert-danger">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <strong><%= error %></strong>
            </div>
            <% } %>
            <form class='form-horizontal' action='/reset_pass' method='post'>
              <div class='form-group'>
                <label class='control-label col-lg-2 col-lg-offset-1' for='psw'>新密码</label>

                <div class='col-lg-5'>
                  <input class='form-control' id='psw' name='psw' size='30' type='text'
                         placeholder="新密码"/>
                </div>
              </div>

              <div class='form-group'>
                <label class='control-label col-lg-2 col-lg-offset-1' for='repsw'>确认密码</label>

                <div class='col-lg-5'>
                  <input class='form-control' id='repsw' name='repsw' size='30' type='text'
                         placeholder="重复密码"/>
                </div>
              </div>
              <br/>
              <input type='hidden' name='_csrf' value='<%= csrf %>'/>
              <input type='hidden' name='name' id='name' value='<%= name%>' />
              <input type='hidden' name='key' id='key' value='<%= key%>' />

              <div class='form-group'>
                <div class="col-lg-offset-3 col-lg-8">
                  <input type='submit' class='btn btn-primary ' value='提交'/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <aside class="col-xs-12 col-lg-3">
        <%- partial('sidebar') %>
      </aside>
    </div>
  </div>
</div>
