{% extends "../layout.html" %}

{% block body %}
<div class="wrapper wrapper-content animated ">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ '编辑' if action == 'edit' else '创建' }}角色信息</h5>
        </div>
        <div class="ibox-content">
          {% if (action === 'edit') %}
          <form id="roleForm" method="post" action="/console/roles/{{ role.id }}
            /update" class="form-horizontal">
          {% else %}
          <form id="roleForm" method="post" action="/console/roles/save" class="form-horizontal">
          {% endif %}
            <div class="form-group">
              <label class="col-sm-2 form-control-static">角色名称</label>
              <div class="col-sm-10">
                <input type="text" id="name" name="name" required="" placeholder="输入角色名称,如: ADMIN 或 USER" class="form-control" value="{{ role.name }}"/>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-2 form-control-static">显示名称</label>
              <div class="col-sm-10">
                <input type="text" id="alias" name="alias" placeholder="输入显示名称,如: 系统管理员, 普通用户" class="form-control" value="{{ role.alias }}" />
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <input type="hidden" id="roleId" name="id" value="{{ role.id }}" />
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" href="/console/roles">取消</a>
                <button class="btn btn-primary" id="btnSave" type="button">保存</button>
              </div>
            </div>
          </form>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var edit = '{{ action == "edit" }}';

  if (edit) return $('#roleForm').submit();

  $('#btnSave').click(function() {
    var name = $('#name').val();

    $.ajax({
      url: '/console/roles/' + name + '/isExsist'
    })
    .done(function(result) {
      if (result.success) {
        if (result.exists) {
          return toastr.error('', '角色名已存在')
        }
        $('#roleForm').submit();
      } else {
        toastr.error('', '查询角色名失败')
      }
    })
    .fail(function() {
      toastr.error('', '查询角色名失败')
    })
  })
</script>
{% endblock %}