<div class="panel panel-default">
  <div class="panel-heading">热门文章</div>
  <div class="panel-body">
    {% if hots and hots.length > 0 %}
    <ul class="list-unstyled posts">
        {% for hot in hots %}
        <li class="font-12 mb-10" >
        <div><a href="/p/{{ hot._id }}" title="{{ hot.title }}">{{ hot.title }}</a></div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <ul class="list-unstyled list-overhidden">
        <li class="font-14"><div>暂无文章</div></li>
    </ul>
    {% endif %}
  </div>
</div>
