<% if(!posts || posts.length === 0){ %>
<section class="page-header">
    <div class="content-body">
        <h1 class="h4">这里还什么都还没有留下</h1>
    </div>
</section>
<% }else{ %>
    <% posts.forEach(function (post, index) { %>
        <% if(index === posts.length - 1){ %>
        <section class="content-header no-border">
        <% } else { %>
        <section class="content-header">
            <% } %>
            <div class="content-info hidden-xs">
                <div class="content-info-view">
                    <div class="coontent-info-number"><%= post.friendly_pv %></div>
                    <small>浏览</small>
                </div>
            </div>
            <div class="content-body">
                <h2 class="h4 post-title">
                    <span class="label " style="background-color: <%= post.categoryColor %>;"><%= post.categoryName %></span>
                    <a href="/p/<%= post._id %>"><%= post.title %></a>
                </h2>
                <p>
                    <a class="link font-12 mr-5" href="/u/<%= post.author.login_name %>">
                        <%= post.author.login_name %>
                    </a>
                    <span class="addtion font-12 mr-5"><%= post.friendly_create_at %></span>
                    <span class="tags">
                    <% if(post.tags){ %>
                    <span>
                    <% post.tags.forEach(function (tag, index) { %>
                    <% if (tag) {%>
                    <a class="link tag-sm" href="/tags/<%= tag %>" title="<%= tag %>相关的文章"><%= tag %></a>
                    <% }}); %>
                    </span>
                    <% }%>
                    </span>
                </p>
            </div>
        </section>
        <% }); %>
    <div class="text-center">
        <%- partial('../paging', {
        pages: pages,
        current_page: current_page,
        base: base,
        tab: tab || ''
        }) %>
    </div>
<% } %>