<% if(!posts || posts.length === 0){ %>
<section class="page-header">
    <div class="content-body">
        <h1 class="h4">这里还什么都还没有留下</h1>
    </div>
</section>
<% }else{ %>
    <% posts.forEach(function (post, index) { %>
        <% if(index === posts.length - 1){ %>
        <section class="content-header no-border">
        <% } else { %>
        <section class="content-header">
        <% } %>
            <div class="content-info">
                <div class="content-info-view">
                  <a href="/u/<%= post.author.login_name %>" >
                    <img class="user-avatar-lg" alt="<%= post.author.login_name %>" src="<%= post.author.avatar %>" />
                  </a>
                </div>
            </div>
            <div class="content-body">
                <h2 class="h4 post-title">
                    <a href="/p/<%= post._id %>"><%= post.title %></a>
                    <% if (post.reply_count > 0) { %>
                        <a class="badge-link" href="/p/<%= post._id %>#comment">
                            <span class="badge"><%= post.reply_count %></span>
                        </a>
                    <% } %>
                </h2>
                <p>
                    <% if (typeof tab === 'undefined' || tab === '') { %>
                      <span class="label "
                            style="color: <%= post.categoryColor %>;border: 1px solid <%= post.categoryColor %>;"
                      ><%= post.categoryName %></span>
                    <% } %>
                    <span class="addtion font-12 mr-5"><%= post.friendly_create_at %></span>
                    <span class="addtion font-12 mr-5"><%= post.friendly_pv %>浏览</span>
                    <span class="tags">
                    <% if(post.tags){ %>
                    <span>
                    <% post.tags.forEach(function (tag, index) { %>
                    <% if (tag) {%>
                    <a class="link tag-sm" href="/tags/<%= tag %>" title="<%= tag %>相关的文章"><%= tag %></a>
                    <% }}); %>
                    </span>
                    <% }%>
                    </span>
                </p>
            </div>
        </section>
        <% }); %>
    <div>
        <%- partial('../paging', {
        pages: pages,
        current_page: current_page,
        base: base,
        tab: tab || ''
        }) %>
    </div>
<% } %>
