.idea
.svn
node_modules
assets.json
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
public/**/*.debug.css
public/**/*.min.css
public/**/*.debug.js
public/**/*.min.js
config/**/*.js

.nyc_output