sudo: false

language: node_js

env:
  - CXX=g++-4.8

node_js:
  - 6
  - stable

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

services:
  - mongodb
  - redis

before_install:
  - $CXX --version

script: npm run test-cov

after_success: cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js