<div class="footer">
    <div class="container pgate2">
        <div class="biglogo">
            <img src="/images/img/biglogo.png"/>
            <p style="color: #BEBEBE; font-size: 12px;">© 2015-2016 汉阳造xxx公司   XICP备xxxx号</p>
        </div>
        <ul class="footUl">
            <li>关于汉阳云</li>
            <li><a href="#">介绍说明</a></li>
            <li><a href="#">最新动态</a></li>
            <li><a href="#">新闻资讯</a></li>
            <li><a href="#">优惠活动</a></li>
        </ul>
        <ul class="footUl2">
            <li>价格体系</li>
            <li><a href="#">渲染云价格</a></li>
        </ul>
        <ul class="footUl3">
            <li>用户助手</li>
            <li><a href="#">帮助教材</a></li>
            <li><a href="#">注意事项</a></li>
            <li><a href="#">常见问题</a></li>
        </ul>
    </div>
</div>