
<div class="header">
    <div class="contain">
        <button class="downLoadBtn">下载客户端</button>
        <ul class="hyUl">
            <li><a href="#" style="border-right: 0;">注册</a></li>
            <li><a href="#" >登录</a></li>
        </ul>
        <div class="logo">
            <img src="/images/img/logo.png" />
        </div>
        <ul class="navList">
            <li><a href="/" >首页</a></li>
            <li><a href="/price" >渲染云价格</a></li>
            <li><a href="/services" >优惠活动</a></li>
            <li><a href="/userAssistant">用户助手</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="/userCenter">用户服务中心</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/libs/jquery-2.1.1.min.js" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".navList li").mouseover(function(){
            $(this).find("a").css("color","#cf000b")
        }).mouseleave(function(){
            $(this).find("a").css("color","#000000")
        });
        $(".navList li a").each(function(){
            $this = $(this);
            if($this[0].href==String(window.location)){
                $this.parent().addClass("blue");
            }
        });
    });
</script>