<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }} - {{category.name}}</title>
    <link rel="stylesheet" href="/libs/bootstrap2/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/services.css" />
</head>
<body>
<!--	header-->
{% include "./inc/header.html" %}
<!--    banner-->
<div class="bxslider">
    <img src="/images/img/banner2.jpg" />
</div>
<!--   news-->
<div class="mainBox">
    <div class="container pgate4">
        <p class="newsP1" >>>当前位置：{{category.name}} <a href="/">返回</a></p>
        <p class="main_01_p1">{{ article.title }}</p>
        <div class="main_01">
            <a href="#" class="main_01_a">发表于：{{ article.create_time | datetime }} </a>
            <div class="articleContent">
                {{ article.content | safe }}
            </div>
        </div>
    </div>
</div>
<!--   footer-->
{% include "./inc/footer.html"%}
</body>
</html>