<div class="wrap">
  <div class="container">
    <div class="row">
      <article class="col-sm-12 col-lg-9">
        <div class="box">
          <div class="tabs">
            <a class="tab <%= typeof(tab) === 'undefined' || tab == '' ? 'active' : '' %>" href="/">全部</a>
            <% config.tabs.forEach(function (pair) {
            var value = pair[0];
            var text = pair[1];
            %>
            <a class="tab <%= (typeof(tab) !== 'undefined' && value === tab) ? 'active' : '' %>" href="/?tab=<%= value %>"><%= text %></a>
            <% }) %>
          </div>
          <%- partial('post/list', {
          posts: posts,
          pages: pages,
          current_page: current_page,
          base: '/',
          tab: tab
          }) %>
        </div>
      </article>
      <aside class="col-sm-12 col-lg-3">
        <div class="box widget-side">
          <%- partial('ads/side_aliyun_code') %>
        </div>
        <div class="box widget-side">
          <%- partial('post/hot', {
          hots: hots
          }) %>
        </div>
        <div class="box widget-side">
          <div class="page-header">
            <h4>热门标签<a class='tag-more' href='/tags' title="所有标签"> »</a></h4>
          </div>
          <%
          if(typeof(tags) !== 'undefined' && tags.length > 0){
          tags.forEach(function(tag, index){
          %>
          <span class="tagPopup">
              <a class="tag" href="/tags/<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
          </span>
          <%
          });
          }else{ %>
          <ul class="list-unstyled line-distance list-overhidden">
            <li class="font-12 mb-10">暂无标签</li>
          </ul>
          <% } %>
        </div>
        <div class="box widget-side">
          <%- partial('user/user_sidebar_widget', {
          users: recent_reg,
          }) %>
        </div>
        <div class="box widget-side">
          <%- partial('reply/side_list', {
          replies: replies,
          }) %>
        </div>
      </aside>
    </div>
  </div>
</div>

<% block('styles', Loader('/public/css/index.css')
.css('/public/css/tabs.less')
.done(assets, config.site_static_host, config.mini_assets))
%>