<div class="wrap">
  <div class="container">
    <div class="row">
      <article class="col-sm-12 col-lg-9 pr-5">
        <div class="box">
          <div class="tabs">
            <a class="tab <%= typeof(tab) === 'undefined' || tab == '' ? 'active' : '' %>" href="/">全部</a>
            <% config.tabs.forEach(function (pair) {
            var value = pair[0];
            var text = pair[1];
            %>
            <a class="tab <%= (typeof(tab) !== 'undefined' && value === tab) ? 'active' : '' %>" href="/?tab=<%= value %>"><%= text %></a>
            <% }) %>
          </div>
          <%- partial('post/list', {
          posts: posts,
          pages: pages,
          current_page: current_page,
          base: '/',
          tab: tab
          }) %>
        </div>
      </article>
      <aside class="col-sm-12 col-lg-3">

        <!-- 用户卡片 -->
        <%- partial('./user/card') %>
        
        <!-- 阿里云推荐码 -->
        <!-- <%- partial('ads/side_aliyun_code') %> -->

        <!-- 热门标签 -->
        <%- partial('tag/hot', {
        tags: tags
        }) %>

        <!-- 热门文章 -->
        <%- partial('post/hot', {
        hots: hots
        }) %>

        <!-- 最近加入用户 -->
        <%- partial('user/user_sidebar_widget', {
        users: recent_reg,
        }) %>

        <!-- 最新评论 -->
        <%- partial('reply/side_list', {
        replies: replies,
        }) %>

        
      </aside>
    </div>
  </div>
</div>

<% block('styles', Loader('/public/css/index.css')
.css('/public/css/tabs.less')
.css('/public/css/widget/post.list.less')
.css('/public/css/page/site.index.less')
.done(assets, config.site_assets_host, config.mini_assets))
%>