<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户服务中心</title>
    <link rel="stylesheet" href="/libs/bootstrap2/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/services.css" />
</head>
<body>
<!--	header-->
{% include "./inc/header.html" %}
<!--bannner-->
<div class="bxslider">
    <img src="/images/img/banner2.jpg" />
</div>
<!---->
<div style="margin-bottom: 80px;">
    <div class="container pgate3">
        <p class="servicesP1">最新优惠活动一<span></span></p>
        <p class="servicesP2">The Latest Promotions 01</p>
        <p class="servicesP3"><b>活动范围：</b></p>
        <p class="servicesP4">所有使用渲染云平台用户；</p>
        <p class="servicesP3"><b>活动内容:</b></p>
        <p class="servicesP4" style="color: #cf000b;">每张10元内免费，超过10元每张立减10元;</p>
        <p class="servicesP3"><b>注意事项：</b></p>
        <ul class="servicesP4">
            <li>1.系统按照扣费时间确定是否参与此优惠活动，与提交任务的时间无关;</li>
            <li>2.本次优惠活动与之前已有的效果图优惠（固定优惠）不冲突；</li>
            <li>3.分布式及优先渲染任务不参与此优惠活动；</li>
            <li>4.本活动的最终解释权归汉阳造广告云计算中心，如有疑问可咨询汉阳造客服获得帮助。</li>
        </ul>
        <p class="servicesP3"><b>活动时间：</b></p>
        <p class="servicesP4">2017年1月10日至2017年5月1日</p>
        <p class="servicesP1">最新优惠活动二<span></span></p>
        <p class="servicesP2">The Latest Promotions 02</p>
        <table class="serTab" width="720px" height="240px" border="1" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
            <tr>
                <td><b style="font-size: 16px;">充值</b></td>
                <td><b style="font-size: 16px;">渲染</b></td>
                <td><b style="font-size: 16px; color: #cf000b;">加送</b></td>
            </tr>
            <tr>
                <td>100元</td>
                <td>10张</td>
                <td>3张</td>
            </tr>
            <tr>
                <td>300元</td>
                <td>30张</td>
                <td>10张</td>
            </tr>
            <tr>
                <td>500元</td>
                <td>50张</td>
                <td>20张</td>
            </tr>
            <tr>
                <td>1000元</td>
                <td>100张</td>
                <td>50张</td>
            </tr>
            <tr>
                <td>2000元</td>
                <td>200张</td>
                <td>100张</td>
            </tr>
        </table>
        <p class="servicesP3"><b>活动范围：</b></p>
        <p class="servicesP4">所有使用渲染云平台用户；</p>
        <p class="servicesP3"><b>活动时间：</b></p>
        <p class="servicesP4">2017年1月10日至2017年5月1日</p>
    </div>
</div>
<!--关注我们-->
<div style="background: #313131;">
    <div class="container pgate" style=" padding-top: 28px; text-align: center;">
        <div style="width: 1px;height: 90px; margin: 0 auto; margin-bottom: 50px;"><div class="ysDiv" style="width: 1px;height: 90px;background: #000000;margin: 0px auto; display: none;"></div></div>
        <p style="font-size: 26px;color: #FFFFFF; letter-spacing:5px;font-family: '黑体';">关注我们</p>
        <div style="width: 40px;height: 2px;background: #FFFFFF;margin: 20px auto;margin-bottom: 80px;"></div>
        <div class="footBox">
            <p class="footP1"><span class="footSpan"></span>企业QQ：123456789</p>
            <p class="footP1"><span class="footSpan2"></span>企业客服1：123456789</p>
            <p class="footP1"><span class="footSpan3"></span>企业客服2：123456789</p>
            <p class="footP1"><span class="footSpan3"></span>企业客服3：123456789</p>
            <div class="gzwx">
                <div class="img01"></div>
                <p style="color: #BEBEBE;margin-top: 10px;">关注微信</p>
            </div>
            <div class="gzwb">
                <div class="img01"></div>
                <p style="color: #BEBEBE;margin-top: 10px;">关注微博</p>
            </div>
        </div>
    </div>
</div>
<!--   footer-->
{% include "./inc/footer.html"%}

</body>
</html>
