<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户服务中心</title>
    <link rel="stylesheet" href="/libs/bootstrap2/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<!--	header-->
{% include "./inc/header.html" %}
<!--bannner-->
<div class="bxslider">
    <img src="/images/img/banner1.jpg" />
</div>
<!--自助服务系统客户端下载-->
<div style="margin-bottom: 80px;">
    <div class="container pgate">
        <div class="introduceDiv">
            <p><b>客户在线自助服务系统，</b>客户在注册、登录后，可对各类云资源进行在线申请、开户、充值、支付、开通、部署、监控、管理、报停、服务支持等。</p>
        </div>
        <button class="zhbtn">自助服务系统客户端Download</button>
    </div>
</div>
<!--关注我们-->
<div style="background: #313131;">
    <div class="container pgate" style=" padding-top: 28px; text-align: center;">
        <div style="width: 1px;height: 90px; margin: 0 auto; margin-bottom: 50px;"><div class="ysDiv" style="width: 1px;height: 90px;background: #000000;margin: 0px auto; display: none;"></div></div>
        <p style="font-size: 26px;color: #FFFFFF; letter-spacing:5px;font-family: '黑体';">关注我们</p>
        <div style="width: 40px;height: 2px;background: #FFFFFF;margin: 20px auto;margin-bottom: 80px;"></div>
        <div class="footBox">
            <p class="footP1"><span class="footSpan"></span>企业QQ：123456789</p>
            <p class="footP1"><span class="footSpan2"></span>企业客服1：123456789</p>
            <p class="footP1"><span class="footSpan3"></span>企业客服2：123456789</p>
            <p class="footP1"><span class="footSpan3"></span>企业客服3：123456789</p>
            <div class="gzwx">
                <div class="img01"></div>
                <p style="color: #BEBEBE;margin-top: 10px;">关注微信</p>
            </div>
            <div class="gzwb">
                <div class="img01"></div>
                <p style="color: #BEBEBE;margin-top: 10px;">关注微博</p>
            </div>
        </div>
    </div>
</div>
<!--   footer-->
{% include "./inc/footer.html"%}
</body>
</html>
