<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户助手</title>
    <link rel="stylesheet" href="/libs/bootstrap2/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/services.css" />
</head>
<body>
<!--	header-->
{% include "./inc/header.html" %}
<!--bannner-->
<div class="bxslider">
    <img src="/images/img/banner3.jpg" />
</div>
<!---->
<div style="margin-bottom: 80px;">
    <div class="container pgate3">
        <div class="serHeader">
            <p class="servicesP1">帮助教程<span></span></p>
            <p class="servicesP2">Supporting Process</p>
        </div>
        <div class="serDiv01" style="margin-left: 100px;">
            <div class="firstTep">第一步</div>
            <p class="first01">点击注册</p>
        </div>
        <div class="serDiv01 serDiv02">

        </div>
        <div class="serDiv01">
            <div class="firstTep02">第二步</div>
            <p class="first01">下载客户端</p>
        </div>
        <div class="serDiv01 serDiv02">

        </div>
        <div class="serDiv01">
            <div class="firstTep03">第三步</div>
            <p class="first01">点击软件一键渲染</p>
        </div>
        <div class="serHeader03">
            <p class="servicesP1" style="clear: both;">注意事项<span></span></p>
            <p class="servicesP2">Considerations</p>
        </div>
        <ul>
            <li>1、余额为负时不能下载结果和提交新任务； </li>
            <li>2、余额为负但欠费额不超过信用额度时，已提交的任务可以继续渲染，直至信用额度用完任务将会被立即停止；</li>
            <li>3、用户主动“删除”或者“停止”任务后，造成的费用损失，由用户自己承担；</li>
            <li>4、欠费停止造成的费用损失，由用户自己承担；</li>
            <li>5、由于场景本身模型、材质、渲染参数等设置有误导致渲染时间过长，损失用户自己承担；</li>
            <li>6、恢复被停止或者欠费停止的任务后，会重新开始渲染，无法恢复到上次渲染状态；</li>
            <li>7、已提交的任务渲染结束后建议在客户端删除任务，未删除的任务，最多保留七天，过期自动清理；</li>
            <li>8、有特殊插件，或者环境例如软件版本和 制作环境不一致时，请联系客服进行确认后再行使用。</li>
        </ul>
        <div class="serHeader02">
            <p class="servicesP1" style="clear: both;">常见问题<span></span></p>
            <p class="servicesP2">Frequently Asked Questions</p>
        </div>
        <p class="servicesP3"><b>问：渲染时可以关机吗？</b></p>
        <p class="servicesP4">答：可以。前提条件是任务状态显示为“排队中”或者“渲染中”。下次开机登陆客户端时如果渲染完成，会自动下载结果。</p>
        <p class="servicesP3"><b>问：渲染时余额不足还能继续渲染吗？</b></p>
        <p class="servicesP4">答：可以。余额不足时还可以继续渲染，直至账户信用度用尽；余额为负时，虽然有可能继续渲染，但不能下载已经渲染的结果，不能提交新的渲染任务。</p>
        <p class="servicesP3"><b>问：同一个渲染账号能同时在多台电脑上登录吗？</b></p>
        <p class="servicesP4">答：每台电脑只会显示在该台电脑上提交的任务状态。</p>
    </div>
</div>
<!--关注我们-->
<div style="background: #313131;">
    <div class="container pgate" style=" padding-top: 28px; text-align: center;">
        <div style="width: 1px;height: 90px; margin: 0 auto; margin-bottom: 50px;"><div class="ysDiv" style="width: 1px;height: 90px;background: #000000;margin: 0px auto; display: none;"></div></div>
        <p style="font-size: 26px;color: #FFFFFF; letter-spacing:5px;font-family: '黑体';">关注我们</p>
        <div style="width: 40px;height: 2px;background: #FFFFFF;margin: 20px auto;margin-bottom: 80px;"></div>
        <div class="footBox">
            <p class="footP1"><span class="footSpan"></span>企业QQ：123456789</p>
            <p class="footP1"><span class="footSpan2"></span>企业客服1：123456789</p>
            <p class="footP1"><span class="footSpan3"></span>企业客服2：123456789</p>
            <p class="footP1"><span class="footSpan3"></span>企业客服3：123456789</p>
            <div class="gzwx">
                <div class="img01"></div>
                <p style="color: #BEBEBE;margin-top: 10px;">关注微信</p>
            </div>
            <div class="gzwb">
                <div class="img01"></div>
                <p style="color: #BEBEBE;margin-top: 10px;">关注微博</p>
            </div>
        </div>
    </div>
</div>
<!--   footer-->
{% include "./inc/footer.html"%}

</body>
</html>
