.nav-admin {
  padding: 5px 0;
  .container {
    .admin-menus {
      margin-bottom: 0;
      li {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}

.navbar {
  margin-bottom: 0;
  font-size: 13px;

  .logo {
    width: 90px;
    display: block;
    line-height: 50px;
  }

  @media (max-width: 768px) {
    .logo {
      margin-left: 15px;
    }
  }
  .msg-count {
    margin: 2px 4px;
    padding: 2px 7px;
  }
}