<div class="wrap">
  <div class="container">
    <div class="row">
      <article class="col-sm-12 col-lg-9 pr-5">
        <div class="panel">
          <div class="panel-heading">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">我关注的用户的文章</li>
            </ol>
          </div>
          <div class="box">
            <%- partial('../post/list', {
            posts: posts,
            pages: pages,
            current_page: current_page,
            base: base,
            tab: ''
            }) %>
          </div>
        </div>
      </article>
      <aside class="col-sm-12 col-lg-3">
        <!-- 用户卡片 -->
        <%- partial('./user/card') %>
      </aside>
    </div>
  </div>
</div>

<% block('styles', Loader('/public/css/user.follow.css')
.css('/public/css/widget/post.list.less')
.css('/public/css/page/site.index.less')
.done(assets, config.site_assets_host, config.mini_assets))
%>