<div class="wrap">
    <div class='container'>
        <div class='row'>
            <div class="col-xs-12 col-lg-9 pr-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ol class="breadcrumb">
                            <li><a href="/">首页</a></li>
                            <li class="active">通知</li>
                        </ol>
                    </div>
                    <div class='panel-body'>
                        <% if(typeof(error) !== 'undefined' && error){ %>
                        <div class="alert alert-danger">
                            <strong><%= error %></strong>
                        </div>
                        <% } %>
                        <% if(typeof(success) !== 'undefined' && success){ %>
                        <div class="alert alert-success">
                            <strong><%= success %></strong>
                        </div>
                        <% } %>
                        <a href="<%- typeof(referer) !== 'undefined' ? referer : '/' %>"><span class="btn btn-xs btn-info">返回</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>