<div class="wrap">
    <div class='container'>
        <div class='row'>
            <div class="col-xs-12 col-lg-9">
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li class="active">通知</li>
                </ol>
                <div class='inner'>
                    <% if(typeof(error) !== 'undefined' && error){ %>
                    <div class="alert alert-error">
                        <strong><%= error %></strong>
                    </div>
                    <% } %>
                    <% if(typeof(success) !== 'undefined' && success){ %>
                    <div class="alert alert-success">
                        <strong><%= success %></strong>
                    </div>
                    <% } %>
                    <a href="<%- typeof(referer) !== 'undefined' ? referer : '/' %>"><span class="btn btn-xs btn-info">返回</span></a>
                </div>
            </div>
        </div>
    </div>
</div>