<div class="reply-list">
    <% if (replies && replies.length > 0) {%>
        <% replies.forEach(function(reply, index){ %>
        <div class="reply-item">
            <div><a class="anchor" id="<%= reply._id %>"></a></div>
            <div class="author-info">
                <div class="user-info">
                  <a class="mr-10" href="/u/<%= reply.author.login_name%>">
                    <img class="user-avatar" src="<%= reply.author.avatar%>" title="<%= reply.author.login_name%>" />
                  </a>
                  <a href="/u/<%= reply.author.login_name %>"><strong><%= reply.author.login_name %></strong></a>
                  <span class="reply-time ml-10"><%= reply.friendly_create_at%></span>
                  <a class="floor" href="#<%= reply._id %>"></a>
                </div>
            </div>
            <div class='reply-content from-<%= reply.author.login_name %>'>
            <%- markdown(reply.content) %>
            </div>
        </div>
        <% }); %>
    <% } else { %>
        <div class="reply-item text-center">
            <p style="height: 60px;line-height: 60px;vertical-align: middle;">
                暂无评论
            </p>
        </div>
    <% } %>
</div>