<div class="panel panel-default">
  <div class="panel-heading">最新评论</div>
  <div class="panel-body">
    {% if replies and replies.length > 0 %}
    <ul class="list-unstyled list-overhidden">
        {% for reply in replies %}
        {% if reply.post_id and reply.post_id.title %}
        <li class="mb-10 clearfix">
          <a class="pull-left mr-5" href="/u/{{ reply.author_id.login_name }}" target="_blank">
            <img class="avatar-sm" alt="{{ reply.author_id.login_name }}" src="{{ reply.author_id.avatar }}" />
          </a>
          Re:
          <a class="font-bold" href="/p/{{ reply.post_id._id }}#{{ reply._id }}"
              title="{{ reply.post_id.title }}">
              {{ reply.post_id.title | shorter(13) }}
          </a>
          <br/>
          <div class="addtion">{{ reply.content | cleanMarkdown | shorter(100) }}</div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <ul class="list-unstyled list-overhidden">
        <li class="font-12 clearfix">暂无评论</li>
    </ul>
    {% endif %}
  </div>
</div>