<% if(replies && replies.length > 0){ %>
<div class="page-header">
    <h4>最新评论</h4>
</div>
<ul class="list-unstyled list-overhidden">
    <% replies.forEach(function(reply, index){%>
    <% if (reply.post_id && reply.post_id.title) { %>
    <li class="font-12 mb-10 clearfix">
      <a class="pull-left mr-5" href="/u/<%= reply.author_id.login_name %>" target="_blank">
        <img class="user-avatar" src="<%= reply.author_id.avatar %>" />
      </a>
      Re:
      <a class="font-bold" href="/p/<%= reply.post_id._id %>#<%= reply._id %>"
          title="<%= reply.post_id.title %>">
          <%- shorter(reply.post_id.title, 13) %>
      </a>
      <br/>
      <%= shorter(cleanMarkdown(reply.content), 100) %>
    </li>
    <% } %>
    <% }); %>
</ul>
<% } %>
