<!-- style -->
<%- Loader('/public/css/post.css')
.css('/public/lib/editor/editor.css')
.css('/public/lib/webuploader/webuploader.css')
.css('/public/lib/code-prettify/prettify.css')
.done(assets, config.site_static_host, config.mini_assets)
%>
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="content-header">
                <%- markdown(multiline(function () {
/*
## 文章

### `post` /post/add 添加文章

类型 `json`

接收 post 参数

* title `String` 文章标题
* description `String` 文章摘要(描述)
* content `String` 文章内容(支持markdown)
* tags `String` 多个标签(用英文逗号分隔)
* category `String` 分类(没有则传递'unknown')
* is_html `Number` 是否为html内容，1 -> 是、0 -> 否，会进行markdown转换
* accesstoken `String` 用户的 accessToken

示例：[/api/post/add](/api/post/add)

返回值示例

```js
//错误
{error_msg: 'xxxx'}

//成功
{success: 1, post_id: '5433d5e4e737cbe96dcef312'}
```


## 标签

### `get` /tag/search 标签搜索

类型 `jsonp`

接收 get 参数

* q `String` 查询关键词

示例：[/api/tag/search](/api/tag/search)

返回值示例

```js
//无结果时
callback([])

//有结果时
callback([{name: 'xxx'}, {name: 'xxx'}, ..., {name: 'xxx'}])
```

### `post` /tag/add 添加标签

类型 `json`

接收 post 参数

* name `String` 标签的名称
* description `String` 标签的描述
* accesstoken `String` 用户的 accessToken

示例：[/api/tag/add](/api/tag/add)

返回值示例

```js
//错误
{error_msg: 'xxxx'}

//成功
{success: 1, tag_id: '5433d5e4e737cbe96dcef312'}
```

## 知识点

1. 如何获取 accessToken？
用户登录后，在设置页面可以看到自己的 accessToken。

*/
})) %>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 sidebox">
            </div>
        </div>
    </div>
</div>