<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-9 pr-5">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <h4>网页颜色工具</h4>
                                <ul>
                                    <li><a href="http://www.qqtz.com/hao/color.htm" target="_blank" title="网页颜色选择器">颜色选择器</a>
                                    </li>
                                    <li><a href="http://tool.c7sky.com/webcolor/" target="_blank"
                                           title="网页设计常用色彩搭配表">常用色彩搭配表</a></li>
                                    <li><a href="http://www.zhaozi.cn/color.htm" target="_blank" title="网页颜色代码选择器">颜色代码选择器</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>在线校验工具</h4>
                                <ul>
                                    <li><a href="http://tool.chinaz.com/regex/" target="_blank" title="正则表达式在线测试">正则表达式在线测试</a>
                                    </li>
                                    <li><a href="http://www.zhhoney.com/" target="_blank" title="JSON在线校验">JSON在线校验</a></li>
                                    <li><a href="http://www.bejson.com/" target="_blank" title="JSON格式化工具">JSON格式化工具</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>设计工具</h4>
                                <ul>
                                    <li><a href="http://www.favicon.cc/" target="_blank" title="icon设计工具">icon设计工具</a></li>
                                    <li><a href="http://www.easyicon.net/" target="_blank" title="icon设计工具">图标素材库</a></li>
                                    <li><a href="http://tool.chinaz.com/Tools/CssDesigner.aspx" target="_blank"
                                           title="css在线编辑工具">css在线编辑工具</a></li>
                                </ul>
                            </li>
                            <li>
                                <h4>HTML相关</h4>
                                <ul>
                                    <li><a href="http://tool.chinaz.com/Tools/HtmlChar.aspx" target="_blank"
                                           title="HTML特殊符号对照表">HTML特殊符号对照表</a></li>
                                    <li><a href="http://tool.chinaz.com/htmlcheck.aspx" target="_blank" title="HTML标签检测">HTML标签检测</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-3 ">
              <div style="position: fixed;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-6653599194334150"
                     data-ad-slot="7457869626"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>
        </div>
    </div>
</div>