<div class="panel panel-default">
  <div class="panel-body">
    <p class="mt-10" style="text-align: center;">本站部署于「<a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DVV5ehvMGID0cQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAgrjjiYVFiVc0Rzpoaa3sxkiWCUEgcPaQsk%2F4%2B4oykvhjBZ92QAszTqWgqT30qFfY%2Bdn1BbglxZYxUhy8exlzcq9AmARIwX9K%2BnbtOD3UdznPV1H2z0iQv9NkKVMHClW0QbMqOpFMIvnvjQXzzpXdTHGJe8N%2FwNpGw%3D%3D" target="_blank">阿里云 ECS</a>」</p>
    <p style="text-align: center;">欢迎使用我的九折推荐码 <strong style="color: #f2354f;">pigtx1</strong> 购买阿里云服务（限新用户）</p>
  </div>
</div>