<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="active" >
                <a><i class="fa fa-files-o"></i> <span class="nav-label">文章管理</span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="/console/articles">已发布文章</a></li>
                    <li><a href="/console/articles/verify">文章审核</a></li>
                    <li><a href="/console/articles/create">发布文章</a></li>
                </ul>
            </li>
            <li class="active" >
                <a><i class="fa fa-tags"></i> <span class="nav-label">栏目管理</span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="/console/categories">栏目列表</a></li>
                    <!-- <li><a href="/console/categories/create">添加栏目</a></li> -->
                </ul>
            </li>
            <li class="active" >
                <a><i class="fa fa-users"></i> <span class="nav-label">用户管理</span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="/console/users">用户列表</a></li>
                    <li><a href="/console/users/create">创建用户</a></li>
                </ul>
            </li>
            <!-- <li class="active" >
                <a><i class="fa fa-paper-plane-o"></i> <span class="nav-label">投稿管理</span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="/console/articles/contribute">投稿文章列表</a></li>
                    <li><a href="/console/categories/contribute">投稿栏目</a></li>
                </ul>
            </li> -->
            <li class="active" >
                <a><i class="fa fa-link"></i> <span class="nav-label">链接管理</span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="/console/links">频道列表</a></li>
                    <li><a href="/console/linkGroups">链接组管理</a></li>
                </ul>
            </li>
            <li class="active" >
                <a><i class="fa fa-cogs"></i> <span class="nav-label">系统管理</span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="/console/roles">角色管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>